POSTGRES_PASSWORD=postgres_password
POSTGRES_USER=postgres
POSTGRES_DB=trading_bot
PGDATA=/var/lib/postgresql/data/pgdata

DATABASE_URL=postgresql://postgres:postgres_password@database:5432/trading_bot

PYTHONPATH=/app
DB_PORT=5432
BACKEND_PORT=8000
FRONTEND_PORT=80
REACT_APP_API_BASE_URL=http://localhost:8000